# Бинарники
*.exe
*.out
a.out

# Объектные файлы  
*.o

# Системные файлы
.DS_Store
Thumbs.db
*~

# Папки проектов (игнорируй скомпилированные файлы внутри)
/*/
!*/*.c
!*/*.h
!*/README.md
!*/.gitignore
!*/Makefileы